.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #ff6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar--list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(109, 107, 107, 0.15)
}

.header__navbar-user {
    display: flex;
    justify-items: center;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    padding-left: 0;
    top: calc(100% + 2px);
    right: 0;
    background-color: var(--while-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    z-index: 1;
    box-shadow: 0 1px 2px #c4c1c1;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 10px 14px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    right: 10px;
    top: -18px;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -98px;
    right: 0;
    width: 60%;
    height: 8px;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-item a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #e7e6e6;
}

.header__navbar-item--has-qr:hover .header__qr {
    z-index: 1;
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
    z-index: 1;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--while-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-icon-link {
    margin-top: -4px;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9068;
    height: 14px;
    right: -10px;
    top: 40%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--while-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    margin-right: 4px;
    cursor: text;
    color: var(--while-color);
}


/* Header qr */

.header__qr {
    width: 186px;
    background-color: var(--while-color);
    top: 114%;
    position: absolute;
    left: 0;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child {
    margin-left: 11px;
}

.header__qr-link:last-child {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

.header__notify {
    position: absolute;
    top: 118%;
    z-index: 1;
    width: 404px;
    border: 1px solid #e0e0e0;
    background-color: var(--while-color);
    right: 0;
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headernotifyGrowth ease-in .2s;
    will-change: opacity, transform;
    display: none;
    border-radius: 2px;
}

.header__notify:before {
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    right: 5px;
    top: -28px;
}

.header__notify:after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    right: 0;
    top: -16px;
    height: 20px;
}

@keyframes headernotifyGrowth {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--while-color);
}

.header__notify-header h3 {
    color: #999;
    line-height: 40px;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f5f5f5;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.1);
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.header__notify-info {
    margin-left: 12px;
    margin-top: 10px;
}

.header__notify-name {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.8rem;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 14px 24px;
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.header__notify-footer-btn:hover {
    background-color: #f5f5f5;
}

.auth-form {
    width: 500px;
    background-color: var(--while-color);
    overflow: hidden;
    border-radius: 5px;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    color: var(--primary-color);
}

.auth-form__input {
    height: 40px;
    width: 100%;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 28px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    align-items: center;
    line-height: 1.6rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    color: var(--while-color);
    background-color: #3a5a98;
}

.auth-form__socials--facebook .auth-form__socials-icon {
    color: var(--while-color);
}

.auth-form__socials-tittle {
    margin: 0 36px;
}

.auth-form__socials--google {
    background-color: var(--while-color);
    color: #666;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 20px;
    border-left: 1px solid #eaeaea;
    margin: -2px 16px 0;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.logo-link {
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 180px;
    cursor: pointer;
}

.header__search {
    display: flex;
    align-items: center;
    padding-right: 3px;
    border-radius: 2px;
    flex: 1;
    height: 40px;
    background-color: var(--while-color);
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    color: var(--while-color);
    font-size: 2.4rem;
    margin-top: 4px;
    cursor: pointer;
}

.header__search-btn {
    background-color: var(--primary-color);
    height: 36px;
    width: 60px;
    border: none;
    border-radius: 2px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #f16a4f;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--while-color);
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-input:focus~.header__search-history {
    display: block;
}

.header__search-selection {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-selection:hover .header__search-option {
    display: block;
}

.header__search-selection-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-selection-icon {
    font-size: 1.4rem;
    color: #a09b9b;
    margin: 0 12px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 120%;
    width: 130px;
    list-style: none;
    padding-left: 0;
    box-shadow: 0 1px 2px rgba(109, 107, 107, 0.3);
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .1s;
    z-index: 1;
}

.header__search-option::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
    top: -15px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--while-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--while-color);
    box-shadow: 0 0 3px #ccc;
    border-radius: 2px;
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
    z-index: 1;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 4px;
    top: -24px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    cursor: pointer;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 7px);
    right: 0px;
    background-color: var(--while-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.21);
    display: none;
    animation: fadeIn ease-in .15s;
    cursor: default;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-no-cart-img {
    width: 50%;
    display: none;
}

.header__cart-list--no-cart {
    padding: 24px 0;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--text-color);
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0 12px;
}

.header__cart-notice {
    position: absolute;
    top: -6px;
    right: -4px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    background-color: var(--while-color);
    color: var(--primary-color);
    padding: 1px 6px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 40vh;
    overflow-y: auto;
}

.header__cart-img {
    width: 50px;
    height: 42px;
    margin: 12px;
    border: 1px solid #f8f8f8;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
}

.header__cart-item-name {
    font-size: 1.4rem;
    line-height: 1.6rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 400;
    margin: 3px 0;
    width: 210px;
    text-align: left;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-info {
    margin-right: 12px;
    width: 100%;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    font-size: 1.3rem;
    color: #757575;
    font-weight: 400;
}

.header__cart-item-remove {
    font-size: 1.3rem;
    color: #757575;
    font-weight: 400;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #f05d41;
}

.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 34px;
}

.category {
    background-color: var(--while-color);
    border-radius: 2px;
}

.category__heading {
    cursor: default;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.category__heading-icon {
    font-size: 1.6rem;
    margin-right: 4px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 10px;
}

.category-item_link {
    position: relative;
    right: 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 8px 16px;
    display: block;
    transition: right linear 0.1s;
}

.category-item_link:hover {
    right: -8px;
    color: var(--primary-color);
}

.category-item--active .category-item_link {
    color: var(--primary-color);
}

.category-item--active .category-item_link::before {
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.home-filter {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 12px 24px;
    border-radius: 2px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__label {
    color: #555555;
    margin-right: 16px;
    font-size: 1.4rem;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}

.select-input__label {
    font-size: 1.4rem;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-curent {
    color: var(--primary-color);
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--while-color);
    text-decoration: none;
}

.home_filter__page-icon {
    margin: auto;
    color: #555555;
    font-size: 1.4rem;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home_filter__page-icon {
    color: #cccccc;
}


/* product-item */

.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    color: inherit;
    position: relative;
    background-color: var(--while-color);
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    transition: transform linear 0.15s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    max-height: 100%;
    height: auto;
    position: relative;
    top: 0;
    transition: .3s;
    max-width: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 10px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-current {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon-like {
    display: none;
    color: red;
}

.home-product-item__like--liked .home-product-item__like-icon-like {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-unlike {
    display: none;
}

.home-product-item__rating {
    font-size: 0.8rem;
    margin: 0 0 0 auto;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
    padding-bottom: 3px;
}

.home-product-item__brand {}

.home-product-item__origin-name {}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.7rem;
    padding-right: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite i {
    color: var(--while-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__favourite span {
    color: var(--while-color);
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgb(255, 216, 64, 0.94);
    text-align: center;
    border-top-right-radius: 3px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    border-width: 0px 20px 8px;
    border-style: solid;
    color: rgb(255, 216, 64, 0.94);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 2rem;
}

.home-product-item__sale-off-label {
    color: var(--while-color);
    line-height: 1.4rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
}

.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(110, 110, 110);
    padding: 4px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: 0 6px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    object-fit: contain;
    border: 1px solid rgb(222, 222, 222);
}

.footer__download-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img {
    height: 20px;
}

.footer__download-app-link {
    text-decoration: none;
}

.footer__bottom {
    background-color: #f5f5f5;
    padding: 8px 0;
    margin-top: 36px;
}

.footer__text {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #737373;
}